C:\Users\doosa\PycharmProjects\HowTo\Numerical Analysis\Numerical_Analysis_20203135\basic src\False Position Method\To compare Modified false postion method and false position method.txt
/basic src/False Position Method/To compare Modified false postion method and false position method.txt
